# محیط‌های مجازی
.venv/
venv/
.venv_linux/
venv_linux/
ENV/
env/
.env
.env.local
*.pem
*.key

knowledge_graph/.env
# فایل‌های کش پایتون
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# فایل‌های موقت VS Code و سیستم‌عامل
.vscode/
.DS_Store
Thumbs.db
.idea/

# وزن‌های سنگین مدل‌ها (اختیاری - در صورت تمایل می‌توانید کامنتش کنید)
*.pth
*.pkl
*.pt
*.exe
dataset/

# پوشه اصلی خروجی‌های فلاتر
build/

# ابزارها و کش‌های دارت و فلاتر
.dart_tool/
.pub-cache/
.pub/

# فایل‌های نهایی کمپایل شده
*.apk
*.aab
*.ipa

# تنظیمات محلی و اختصاصی محیط توسعه
.idea/
*.iml

# فایل‌های سنگین جانبی
*.pdf
*.png
MLP/data/
*.tar.gz
*.so
*.dylib
*.dll
*.bin
*.pt
*.pth

# ==========================================
# Docker & Kubernetes Logs
# ==========================================
*.log
docker-compose.override.yml