# محیط‌های مجازی
.venv/
venv/
env/

# فایل‌های کش پایتون
__pycache__/
*.pyc
*.pyo

# فایل‌های موقت VS Code و سیستم‌عامل
.vscode/
.DS_Store
Thumbs.db

# وزن‌های سنگین مدل‌ها (اختیاری - در صورت تمایل می‌توانید کامنتش کنید)
# *.pth
# *.pkl
*.pt
dataset/

# پوشه اصلی خروجی‌های فلاتر
build/

# ابزارها و کش‌های دارت و فلاتر
.dart_tool/
.pub-cache/
.pub/

# فایل‌های نهایی کمپایل شده
*.apk
*.aab
*.ipa

# تنظیمات محلی و اختصاصی محیط توسعه
.idea/
*.iml

# فایل‌های سنگین جانبی
*.pdf
*.png  <-- اگر تصاویر خروجی مدل سنگین هستند، این خط را از حالت کامنت خارج کنید
